
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');




* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* color: rgba(255, 252, 0, 0.8); */
}

body {

    margin: 0px;
    /* background-image: url(picsnstuff/oceantail.jpg);
    background-size: cover;
    background-repeat: no-repeat; */

}
.container {
    
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-image: url(picsnstuff/oceantail.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    
    
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    
    background-attachment: fixed;
    justify-content: center;
    align-items: center;

   

}

#navbar {
    width:100%;
    height:10%;
    /*background-color: blueviolet;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.title {
    width:100%;
    height:10%;
    /*background-color: rgb(43, 226, 58);*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 280%;
    font-weight: bold;
  
}
.contentbox {
    width:80%;
    height: 70%;
    /*background-color: bisque;*/
    display:flex;
    justify-content:space-around ;
    align-content: space-around;
    align-items: center;
}

.subcontent {
    height:100%;
    width:48%;
    /*background-color: cyan;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    overflow: hidden;

}

.subsubcontent {

    height: 33%;
    width:  80%;
    background-color:rgba(0, 221, 255, 0.4);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    /* flex-flow:row, nowrap;  */
    color:rgba(255, 252, 0, 0.8);
    /* padding: 20%, 30%, 30%, 20%; */
}
.imaging {
    height: 100%;
    width: 100%;
}
/* .footer {
    width:100%;
    height:5%;
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */
